
#title{
    text-align: center;
}

#tree-text, #legend, #description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.image-cont{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 20px;
}

#tree-text, #chances {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}
.table-container{
    display: flex;
    justify-content: center;
}

#table{
    table-layout: fixed;
    border-collapse: collapse;
    border: 2px solid gray;
    background: #d9d9d9;
    text-align: center;
    width: 300px;
}