
html, body {
  /* разворачиваем поля страницы на весь экран */
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  margin-top: 1%;
}

/* контейнер с кнопкой "Начать игру" и текстом "Угадай стратегию" */
.start{
    position: relative;
    display: flex; 
    /* позиционирование элементов по центру */
    justify-content: center;
    width: 20%;
    left: 40%;
    top: 2%;
  }

/* Кнопка Начать игру! */
.new_game{
  appearance: none;
  width: 80%;
  border-radius: 5px;
  top:2%;
  background: #bacdea;

  font-family: "Inter";
  font-weight: 500;
  font-size: 200%;
  line-height: 120%;
  text-align: center;
  color: #000000;
  font-size: 2.2vw;
  }

  /* Текст 'Угадай стратегию!' */

#head_text {
  width: 100%;
  margin: 0px;
  
  font-family: "Inter";
  font-weight: 500;
  text-align: center;
  color: #000000;
  display: none;
  font-size: 2vw;
  }

/* Контейнер для бокового поля с описанием всех стратегий */

.help_str_field{
  position: fixed;
  display: flex;
  flex-direction: row;
  right: 0%;
  transform: translateX(98.7%);
  transition: 1s;
  max-height: 90%;
  top:5%;
  margin-right: 1%;
  align-items: center;
  font-size: 0.8vw;
}

/* Кнопка, при нажатии на которую выдвигаются стратегии */
.str_button{
  writing-mode: vertical-rl;
  font-size: 1.5vw;
  transform: rotate(180deg);
}
  
  /* Поле с описанием стратегий */
  
  .strategies_container {
    display: flex;
    flex-direction: column;
    width: 30%;
    top: 0px;
    background: #d9d9d9;
    text-align: center;
  }
  
  #strategies_description{
    margin:0px;
    padding:4px;
    border-style: solid;
    box-sizing: border-box;
    border-color: gray;
    border-width:2px;
    border-left-width: 3px;
    border-top-width: 3px;
    border-right-width: 3px;
    font-size: 1.5vw;
  }
  
  .Bob-block, .Sam-block, 
  .John-block, .Lenny-block, 
  .Matthew-block, .Molly-block, 
  .Brandon-block,.Kate-block
  .Lesly-block, .Jackson-block, 
  .Tomas-block, .Emily-block{
    border-width: 2px;
    border-right-width: 3px;
    border-left-width: 3px;
    transition: background 1s;
  }
  .Tomas-block, .Emily-block{
    border-bottom-width: 3px;
  }
  
  #str_Sam, #str_John, 
  #str_Lenny, #str_Bob, 
  #str_Matthew, #str_Molly, 
  #str_Brandon, #str_Kate, 
  #str_Lesly, #str_Jackson, 
  #str_Tomas, #str_Emily{
    margin: 1px;
  }
  

  /* Конейнер для таблицы с моделью */
.table_container{
  display: flex;
  flex-direction: column;
  left:0px;
  position: absolute;
  top:0%;
  align-items: center;
  }
  
  /* таблица с моделью + таблица с описанием всех стратегий */
  
  #table, #table_strategies{
    display: block;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid gray;
    background: #d9d9d9;
    margin: 0;
  }
  
  .model-name{
    font-size: min(1.6vw, 3vh);
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    background: #d9d9d9;
    border-top: 3px solid gray;
    border-left: 3px solid gray;
    border-right: 3px solid gray;
  }
  
  .model_field{
    top: 2%; /* указание отступа от верха страницы */
    width: 35%;
    height: 35%;
    left: -33%;
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    align-items: center;
    font-size: max(0.7vw, 1vh);
    transition:1.5s;
  }
  
  /* Ячейки таблицы */
  #zero-zero, 
  #three-m-one, 
  #m-one-three, 
  #four-four, 
  #m-two-five, 
  #m-one-and-half, 
  #five-m-two, 
  #one-and-half, 
  #m-one-m-one{
  /* адаптивый размер шрифта */
  font-size: max(1.5vw, 1vh); 
  /* жирный шрифт */
  font-weight: bold;
  /* скорость изменения цвета во время игры */
  transition: background 1s;
  }

  th, td {
    padding: max(1.5vw, 1.5vh);
  }

  
  /* Блок с графиком */
.graph{
  top: 40%; /* указание отступа от верха страницы */
  width: 35%;
  height: 35%;
  left: -33%;
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  align-items: center;
  font-size: max(0.7vw, 1vh);
  transition:1.5s;
  }
  
  .graph_container{
    display: flex;
    flex-direction: column;
    width: 92%;
    height: 100%;
    align-items: center;
    background: #d9d9d9;
    box-sizing: border-box;
    border: 3px solid gray;
  }
  
  /* Логгер с историей ходов */

.logger{
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  left:-33%;
  top: 77%;
  width: 35%;
  height: 20%;
  align-items: center;
  transition:1.5s;
  bottom: 5%;
  font-size: max(1.2vw, 1vh);
}

.logger-container{
  display: flex;
  flex-direction: column;
  width: 92%;
  height: 100%;
  align-items: center;
  background: #d9d9d9;
  box-sizing: border-box;
  border: 3px solid gray;
}

#history{
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  background: #d9d9d9;
  border-top: 3px solid gray;
  /* возможность скролить историю вниз и вверх  */
  overflow-y: scroll;
  /* чтобы можно было использовать /n в js коде */
  white-space: pre;
}

  /* Кнопки для появления модели, графика и логгера*/
  
  .model_button, .graph_button, .logger_button{
    writing-mode: vertical-rl;
    font-size: max(1.5vw, 1.7vh);
    transform: rotate(180deg);
  }

  /* Основное игровое поле. 
  Номер шага.
  Кнопки ПОВЫСИТЬ, ВОЗДЕРЖАТЬСЯ, ПОНИЗИТЬ
   */

   .main_field{
    position: relative;
    display: flex; 
    justify-content: center;
    height: 20%;
    width: 27%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .buttons{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
  }
  
  
  #step_num {
    /* Шаг № 0 */
    width: 100%;
    height: 50%;
  
    font-family: "Inika";
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 63px;
    text-align: center;
    color: #000000;
  }

  .up_but, 
  .skip_but, 
  .down_but {
    border-radius: 50px;
    width: 32%;
    height: 100%;
    font-size: 0.9vw;
    line-height: 29px;
    color: #000000;
    font-family: "Inter";
    font-weight: 700;
  }
  
  .up_but {
    /* Кнопка ПОВЫСИТЬ */
    background: #bbe7bb;
  }

  .skip_but {
    /* Кнопка ВОЗДЕРЖАТЬСЯ*/
    background: #d9d9d9; 
  }
  
  .down_but {
    /* Кнопка ПОНИЗИТЬ*/
    background: #e0b9b9;
  }


  /* Поле, отображающее счет игры */

  .score{
    /* Контейнер, задающий позиционирование элементов*/
    position: relative;
    display: flex; 
    justify-content: center;
    height: 30%;
    width: 22%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
  }

  #game_score {
    /* Текущий счет: */
    width: 100%;
    height: 30%;
    margin: 0%;
  
    font-family: "Inika";
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 63px;
    text-align: center;
    color: #000000;
  }
  
  .im_container{
    /* фигуры, в которых отображается счет */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-between;
  }
  
  #player_house,
  #ai_house {
    width:35%;
    height:60%;
  }
  
  
  .score_container{
    position: absolute;
    bottom: 30%;
    width: 95%;
    height: 30%;
    display: flex;
    justify-content: space-between;
  }
  
  .score_player, 
  .score_ai {
    /* счет пользователя и бота*/
    width: 30%;
    height: 100%;
  
    font-family: "Inika";
    font-style: normal;
    font-weight: 400;
    font-size: max(4vw, 5vh);
    line-height: max(6vw, 7vh);
    text-align: center;
    color: #000000;
  }
  
  .text_container{
    /* Подписи счетов */
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
  }
  
  #text_player, 
  #text_ai {
    /* Вы, Противник*/
    width: 35%;
    height: 100%;
    margin-top: 3%;
    margin-bottom: 0%;
    text-align: center;
  
    font-style: normal;
    font-weight: 400;
    font-size: max(1.3vw, 1.7vh);
    text-align: center;
  
    color: #000000;
  }

  /* Форма с выбором */

.answer{
  position: relative;
  display: flex; 
  justify-content: center;
  top:5%;
  height: 10%;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  }
  
  
  #form {
    font-style: normal;
    font-size: max(1.5vw, 2.3vh);
    text-align: center;
  }
  
  #response_text {
    /* 
    Текст, отвечающий на выбор пользователя.
    Появляется при отправке формы
    */

    display: none;
    width: 100%;
    height: 30%;
    bottom: 0;
  
  
    font-family: "Inika";
    font-style: normal;
    font-size: max(1.5vw, 2.3vh);;
    text-align: center;
    color: #000000;
    font-weight: bold;
  }
  
  .ending{
    /* Окно, появляющееся при победе */
    position: absolute;
    top:0;
    bottom: 20%;
    left: 0;
    right: 0;
    margin: auto;
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #d9d9d9;
    border: 3px solid gray;
    transition: 2s;
    display: none;
  }
  
  #win{
    font-size: 40px;
  }
  
  #type, #steps_num{
    font-weight: lighter;
    font-size: 30px;
  }
  
  .end-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  #end-links{
    display: inline-block; /* Строчно-блочный элемент */
    background: #bacdea;
    border: 3px solid gray;
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    border-radius: 3px;
    margin: 10px; /* Скругляем уголки */
  }