.start{
  position: relative;
  display: flex; 
  justify-content: center;
}

/* Кнопка Начать игру! */

.new_game{
  appearance: none;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  background: #bacdea;

  font-family: "Inter";
  font-weight: 500;
  font-size: 30px;
  line-height: 44px;
  text-align: center;
  color: #000000;
}

/* Текст 'Угадай стратегию!' */

#head_text {
  width: 300px;
  height: 50px;
  
  font-family: "Inter";
  font-weight: 500;
  font-size: 30px;
  line-height: 44px;
  text-align: center;
  color: #000000;
  display: none;
}

/* Поле с описанием стратегий */

.strategies_container {
  position: absolute;
  width: 279px;
  height: 982px;
  left: 1233px;
  top: 0px;
  background: #d9d9d9;
  text-align: center;
}

.main_field{
  position: relative;
  display: flex; 
  justify-content: center;
  height: 200px
}

.buttons{
  position: absolute;
  bottom: 0;
  width: 400px;
  display: flex;
  justify-content: space-between;
}


#step_num {
  /* Шаг № 0 */
  width: 200px;
  height: 50px;

  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 63px;
  text-align: center;
  color: #000000;
}

.trust_but {
  /* Кнопка довериться */
  border-radius: 50px;
  width: 175px;
  height: 100px;
  background: #bbe7bb;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;

  color: #000000;
}

.lie_but {
  /* Кнопка обмануть*/
  border-radius: 50px;
  width: 175px;
  height: 100px;

  background: #e0b9b9;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;

  color: #000000;
}

.score{
  position: relative;
  display: flex; 
  justify-content: center;
  height: 240px;
}

#game_score {
  /* Текущий счет: */
  width: 200px;
  height: 50px;

  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 63px;
  text-align: center;
  color: #000000;
}

.im_container{
  position: absolute;
  bottom: 40px;
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

#player_house {
  width: 100px;
  height: 100px;
}

#ai_house {
  width: 100px;
  height: 100px;
}

.score_container{
  position: absolute;
  bottom: 40px;
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.score_player {
  /* счет пользователя */
  z-index: 100;
  width: 100px;
  height: 100px;

  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 125px;
  text-align: center;
  color: #000000;
}


.score_ai {
  /* счет ии */
  z-index: 100;
  width: 100px;
  height: 100px;

  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 125px;
  text-align: center;

  color: #000000;
}

.text_container{
  position: absolute;
  bottom: 0px;
  width: 300px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

#text_player {
  /* Вы */
  width: 100px;
  height: 40px;
  margin-top: 0%;
  margin-bottom: 0%;

  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 31px;
  text-align: center;

  color: #000000;
}

#text_ai {
  /* Противник */
  width: 100px;
  height: 40px;
  margin-top: 0%;
  margin-bottom: 0%;

  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 31px;
  text-align: center;

  color: #000000;
}

/* Форма с выбором */

#form {
  position: absolute;
  width: 500px;
  height: 96px;
  left: 198px;
  top: 850px;

  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
}

#response_text {
  display: none;
  position: absolute;
  width: 500px;
  height: 96px;
  left: 0px;
  top: 50px;
}
